header {
  background-color: #3F454B;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

header form {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 15px 0px;
  min-width: 300px;
}

.logo:focus {
  border: 0px;
  outline:0;
}

.logo h1 {
  font-size: 37px;
  font-weight: 800;
  color: #efefef;
  padding-top: 5px;
  margin: 0px;
  margin-left: 10px;
}

.search-bar input {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    padding: 12px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #F3F3F3;
    background-size: 25px;
    background-position: 7px;
    color: #3F454B;
    font-weight: 100;
    margin: 15px 10px;
}

.search-bar input:focus {
   outline: none;
   border: 0px;
}


.shopping-cart-resume {
  display: flex;
  margin-top: 10px;
  min-width: 120px;
  justify-content: center;
}

.shopping-cart-resume-icon {
  background-color: transparent;
  margin-top: 5px;
  border: 0px;
}

.shopping-cart-resume-icon svg {
  margin-bottom: 5px;
  width: 40px;
}

.shopping-cart-resume-icon:focus {
   outline: none;
   border: 0px;
}
.shopping-cart-resume-quantity {
  background-color: #61dafb;
  height: 28px;
  width: 40px;
  margin: 10px 15px 15px 10px;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
  color: white;
  font-weight: 600;
}
