header {
  background-color: #3F454B;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

header form {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 15px 0px;
  min-width: 300px;
}

.logo:focus {
  border: 0px;
  outline:0;
}

.logo h1 {
  font-size: 37px;
  font-weight: 800;
  color: #efefef;
  padding-top: 5px;
  margin: 0px;
  margin-left: 10px;
}

.search-bar input {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    padding: 12px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #F3F3F3;
    background-size: 25px;
    background-position: 7px;
    color: #3F454B;
    font-weight: 100;
    margin: 15px 10px;
}

.search-bar input:focus {
   outline: none;
   border: 0px;
}


.shopping-cart-resume {
  display: flex;
  margin-top: 10px;
  min-width: 120px;
  justify-content: center;
}

.shopping-cart-resume-icon {
  background-color: transparent;
  margin-top: 5px;
  border: 0px;
}

.shopping-cart-resume-icon svg {
  margin-bottom: 5px;
  width: 40px;
}

.shopping-cart-resume-icon:focus {
   outline: none;
   border: 0px;
}
.shopping-cart-resume-quantity {
  background-color: #61dafb;
  height: 28px;
  width: 40px;
  margin: 10px 15px 15px 10px;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
  color: white;
  font-weight: 600;
}

.displayShoppingCart {
  width: 400px;
}

.hideShoppingCart {
  transform: translate3d(100vw, 0, 0);
}

.shopping-cart {
  background-color: #F3F3F3;
  height: 100vh;
  z-index: 1;
  transition: 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: -7px 8px 11px -7px rgba(0,0,0,0.52);
  -moz-box-shadow: -7px 8px 11px -7px rgba(0,0,0,0.52);
  box-shadow: -7px 8px 11px -7px rgba(0,0,0,0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-cart h3 {
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

.shopping-cart ul {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  color: #2e3b4e;
  width: 100%;
}

.shopping-cart li {
  list-style-type: none;
  border-top: 1px solid #e2e4e6;
  padding: 0px 20px;
}

.shopping-cart li span {
  color: #AEB2B7;
  font-weight: 100;
}

.shopping-cart li .title {
  margin-bottom: 0px;
  font-weight: 400;
}

.shopping-cart li .price {
  font-size: 15px;
  margin-top: 8px;
  margin-left: 20px;
}

.shopping-cart .empty-shopping-cart {
  margin: 20px;
  overflow-x: hidden;
}

.shopping-cart hr {
  border: 0px;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.shopping-cart .total {
  margin-right: 35px;
  text-align: right;
  width: 100%;
  align-content: right;
  margin-bottom: 20px;
  font-size: 18px;
}

.shopping-cart .procced-to-checkout-button {
  border: 1px solid transparent;
  font-size: 1rem;
  color: #fff;
  background-color: #0275d8;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.shopping-cart .procced-to-checkout-button span {
  padding: 10px;
}

.shoppingCartIcon {
  margin-top: 20px;
}
