.shopping-card {
   display: flex;
   flex-wrap: wrap;
   color: #5f6a7d;
   padding: 0px;
   list-style: none;
}

.shopping-card li {
    display: flex;
}

.item {
  background: #fff;
  margin: 0px 10px 20px 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.item h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  padding: 0px 25px;
  color: #2e3b4e;
  height: 55px;
}

.item img {
  height: 250px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #40454A;
}

.item p {
  font-size: 14px;
  margin: 0px;
  padding: 0px 25px;
  width: 100%;
}

.item span {
  padding: 0 25px;
  width: 100%;
  font-weight: 800;
  margin-top: 20px;
  font-size: 18px;
}

.item button {
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  font-size: 1rem;
  color: #fff;
  margin: 20px;
  width: 100%;
}

.item .add-to-cart {
  background-color: #0275d8;
}

.item .remove-from-cart {
  background-color: #d9534f;
}
