.closeShoppingCartButton {
  background-color: #F3F3F3;
  border: 0px;
  position: fixed;
  margin-left: -210px;
  cursor: pointer;
  padding: 10px;
}

.closeShoppingCartButton:focus {
  outline: 0;
}
