body {
  color: #5f6a7d;
  font-family: "Square Market",Helvetica,Arial,sans-serif;
}

.container {
  width: 100%;
  padding-right: 15;
  padding-left: 15;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.search-bar {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0px;
}

.search-bar input[type=text] {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    padding: 12px;
    font-size: 16px;
}

.search-bar button {
  width: 100px;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.shopping-card {
   display: flex;
   flex-wrap: wrap;
   color: #5f6a7d;
   font-family: "Square Market",Helvetica,Arial,sans-serif;
   padding: 0px;
}

.search-bar form {
  display: contents;
}

.shopping-card li {
  height: 430px;
  width: 265px;
  background: #f5f5f5;
  margin: 0px 10px 20px 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shopping-card li span {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 20px 10px;
  text-align: center;
  color: #2e3b4e;
  background-color: #90AFC5;
  width: 245px;
  height: 55px;
  align-self: flex-start;
}

.shopping-card li img {
  height: 140px;
  width: 140px;
}

.shopping-card li p {
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.shopping-card li .price {
  align-self: flex-end;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.item-list {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
