body {
  color: #5f6a7d;
  font-family: "Square Market",Helvetica,Arial,sans-serif;
  font-weight: 100;
}

header {
  background-color: #20232a;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 15px 0px;
  min-width: 300px;
}

.logo:focus {
  border: 0px;
  outline:0;
}

.logo span {
  font-size: 37px;
  font-weight: 800;
  color: #efefef;
  padding-top: 5px;
  margin-left: 10px;
}

header form {
  display: flex;
  width: 100%;
}

.search-bar input {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    padding: 12px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #47494c;
    background-size: 25px;
    background-position: 7px;
    color: white;
    font-weight: 100;
    margin: 15px 10px;
}

.search-bar input:focus {
   outline: none;
   border: 0px;
}

.search-result-message {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0px 20px 10px;
  font-size: 18px;
}

.shopping-card {
   display: flex;
   flex-wrap: wrap;
   color: #5f6a7d;
   padding: 0px;
}

.shopping-card li {
  height: 460px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shopping-cart-resume {
  display: flex;
  margin-top: 10px;
  min-width: 120px;
  justify-content: center;
}

.shopping-cart-resume-icon {
  background-color: transparent;
  margin-top: 5px;
  border: 0px;
}

.shopping-cart-resume-icon svg {
  margin-bottom: 5px;
  width: 40px;
}

.shopping-cart-resume-icon:focus {
   outline: none;
   border: 0px;
}
.shopping-cart-resume-quantity {
  background-color: #61dafb;
  height: 28px;
  width: 40px;
  margin: 10px 15px 15px 10px;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
  color: white;
  font-weight: 600;
}

#shopping-cart-details {
  width: 300px;
  position: absolute;
  margin-top: 55px;
  margin-left: -100px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: -5px 5px 4px -5px rgba(0,0,0,0.62);
  -moz-box-shadow: -5px 5px 4px -5px rgba(0,0,0,0.62);
  box-shadow: -5px 5px 4px -5px rgba(0,0,0,0.62);
}

#shopping-cart-details ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

#shopping-cart-details li {
  list-style-type: none;
}

#shopping-cart-details li .title {
  margin-bottom: 0px;
}

#shopping-cart-details li .price {
  font-size: 12px;
}

#shopping-cart-details .empty-shopping-cart {
  margin: 20px;
}

#shopping-cart-details hr {
  border: 0px;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#shopping-cart-details .total {
  text-align: right;
  margin-right: 20px;
}

#shopping-cart-details button {
  border: 1px solid transparent;
  font-size: 1rem;
  color: #fff;
  background-color: #0275d8;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#shopping-cart-details button span {
  padding: 10px
}

.item-list {
  margin-top: 20px;
}

.item {
  height: 460px;
  background: #f5f5f5;
  margin: 0px 10px 20px 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 414px) and (max-width: 736px) {
  [class*="col-"] {
      width: 100%;
  }

  header {
    flex-wrap: wrap;
  }

  header .logo {
    width: 100%;
  }

  header form {
    width: 85%;
  }

  header .shopping-cart-resume {
    width: 15%;
    min-width: 60px;
  }

  header .shopping-cart-resume-quantity {
    display: none;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 736px) and (max-width : 1024px) {
  [class*="col-"] {
      width: 50%;
  }
}
